.container {
  display: flex;
  flex-direction: column;
}

.btn {
    background-image: url('../../img/file-pokeball-png-1.png');
    background-size: cover;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 2px solid black;
    margin: 10px 450px;

  }
  .btn:hover {
    background-image: url('../../img/file-pokeball-png-2.png');
    background-size: cover;
    border: 2px solid black;
  }
  h1 {
    font-size: 5rem;
    margin-left: 450px;
    margin-top: 300px;
  }

 